################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E-Library
/.vs
/E-Library/obj/Release/net6.0
/E-Library.Data/bin/Debug/net6.0
/E-Library.Services/obj/Debug/net6.0
/E-Library/bin/Debug/net6.0
/E-Library/obj
/E-Library.Data/obj
/E-Library.Services/bin/Debug/net6.0
/E-Library.Services/obj
